# PC test build output
build/

# STM32CubeIDE generated build output
firmware/odrive_v36_cube/Debug/

# Simulink generated cache/build folders
slprj/

# MATLAB/Simulink temporary files
*.asv
*.autosave
*.slxc

# Accidental folder created by Unix-style mkdir flags on Windows shells
-p/
